$bg-color: #F5F6F7;
$accent-color: #DCA8C1;
$primary-color: #E5A172;
$accent-color-dark:#C46C8E;
$highlight-color: #7E3A50;

$leaf-green: #A6C7A1; // soft sage green
$stem-green: #6E9C74; // desaturated green

$text-color: #444;     // for body text
$heading-color: #7E3A50; // match with dark mauve
